.wrap{position: relative;}

.wrap .tooltip{
  position: absolute;
  width: 100px;
  padding: 0;
  visibility: hidden;
  background-color: gray;
  color: white;
  text-align: center;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -50px;
  opacity:0.9;
  border-radius: 20px;
  cursor: pointer;
}
.wrap .tooltip::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  opacity: 0.9;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: gray transparent transparent;

}
.wrap:hover .tooltip{visibility: visible;}
